spin_manifest_version = "1"
authors = ["Michelle Dhanani <michelle@fermyon.com>"]
description = "app that selects people for triage rotation"
name = "triage-rotation"
trigger = { type = "http", base = "/" }
version = "0.1.0"


[variables]
# maintainers is a comma-separated list of GitHub usernames
maintainers = { required = true }

[[component]]
id = "pick-2"
source = "pick-2/target/wasm32-wasi/release/triage_generator.wasm"
allowed_http_hosts = []
[component.trigger]
route = "/pair"
[component.build]
command = "cargo build --target wasm32-wasi --release"
workdir = "pick-2"
[component.config]
maintainers = "{{ maintainers }}"


[[component]]
id = "schedule-month"
source = "schedule-month/target/wasm32-wasi/release/schedule_month.wasm"
allowed_http_hosts = []
key_value_stores = ["default"]
[component.trigger]
route = "/schedule/..."
[component.build]
command = "cargo build --target wasm32-wasi --release"
workdir = "schedule-month"
[component.config]
maintainers = "{{ maintainers }}"


[[component]]
source = { url = "https://github.com/fermyon/spin-fileserver/releases/download/v0.0.1/spin_static_fs.wasm", digest = "sha256:650376c33a0756b1a52cad7ca670f1126391b79050df0321407da9c741d32375" }
id = "schedule-view"
files = [ { source = "schedule-view/dist", destination = "/" } ]
[component.trigger]
route = "/..."
